{{ define "main" }}

<p>{{ .Params.intro_text | markdownify }}</p>

<hr />

<h2>What I'm Good At</h2>
<ul>
  <li>Stuff</li>
</ul>

<hr />

<h2>Projects</h2>

<table>
  <tr>
    <th>Year</th>
    <th>Client</th>
    <th>Tech</th>
    <th>Visit</th>
  </tr>
  {{ range $.Site.Data.work.projects }}
  <tr>
    <td>{{ .year }}</td>
    <td>{{ .name }}</td>
    <td>
      {{ with .tags }} {{ range . }} <span class="tag">{{ . }}</span> {{ end }}
      {{ end }}
    </td>
    <td>
      {{ with .url }}<a href="{{.}}" target="_blank">Visit site &rarr;</a>{{ end
      }}
    </td>
  </tr>
  {{ end }}
</table>

{{ end }}
